<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.zp.gossiptripe.mapper.SessionMapper"> 
	

	<sql id="BaseColumns">
		username,session
	</sql>
	
	<insert id="saveSession" parameterType="com.zp.gossiptripe.model.SessionBean">
		insert into tb_loginstatus(
		<include refid="BaseColumns"></include>
		 )
		  values(#{username},#{session})
	</insert>
	
	<update id="updateSession" parameterType="com.zp.gossiptripe.model.SessionBean">
		update tb_loginstatus set session = #{session} where username = #{username}
	</update>
	
	

</mapper>